/* Colors */
$white: #F7F4F3;
$pastelOrange: #FFC043;
$sunSetOrange: #FF595E;
$coralRed: #FF3D43;
$cornellRed: #AD201B;
$sunGlow: #FFBD3A;
$jet: #343434;

/* Fonts */
$quicksand: 'Quicksand', sans-serif;
$ntr: 'NTR', sans-serif;
$quest: 'Questrial', sans-serif;
$raleway: 'Raleway', sans-serif;
