/* Colors */
$white: #F7F4F3; 
$pastelOrange: #FFC043; 
$sunSetOrange: #FF595E; 
$coralRed: #FF3D43; 
$sapphireBlue: #0E6BA8; 
$cornellRed: #AD201B;  
$darkPurple: #331832; 
$dingyDungeon: #CA2E55; 
$palatinatePurple: #672865; 
$sunGlow: #FFBD3A; 
$jet: #343434; 

/* Fonts */
$josefin: 'Josefin Sans', sans-serif;
$raleway: 'Raleway', sans-serif;
$quicksand: 'Quicksand', sans-serif;