.article{
  

    &__type{
        font-family: $raleway;
        font-size: 0.6875rem;
        font-weight:700;
        color:#fff;
        background-color:black;
        padding: 0.1875rem 0.4375rem;
        text-transform:uppercase;
        transition:250ms;
    }

    &__type:hover{
        background-color: $pastelOrange;
        color:black;
    }

    &__heading{
        
    }


}