.content{
    
    &__top-left{
        margin-bottom: 5rem;
    }


    &__right{
        margin-left: -12px;
    }



    /* &__left{
        position: fixed;
        top:0;
        right: 0;
        height: auto;
        z-index: 1;
        overflow-x: hidden;
    } */
}