.generic-content{
    font-family: $quicksand;
    line-height: 1.90;
    
    &--latest-post{
        line-height: 1.60;
    }

    &--bio{
        font-size: 15px;
    }

    &--advertise{
        color:#fff;

        @mixin atExLarge{
            font-size: 25px;
        }

    }

    &--advertise-text-content{
        text-align: center;
    }

}