.heading{
    font-family: $raleway;

    &--article{
        font-family: $raleway;
        text-transform:uppercase;
    }

    &--author{
        margin-bottom: -10px;
    }

    &--about{
        color:#fff;
        font-size: 40px;

        @mixin atSmall{
            font-size: 50px;
        }

        @mixin atMedium{
            font-size: 60px;
        }

        @mixin atLarge{
            font-size: 80px;
        }

        @mixin atExLarge{
            font-size: 120px;
        }
    }

    &--about-team{
        margin-bottom: -5px;
        
    }

    &--advertise{
        color:#fff;

        @mixin atSmall{
            font-size: 50px;
        }

        @mixin atMedium{
            font-size: 60px;
        }

        @mixin atLarge{
            font-size: 80px;
        }

        @mixin atExLarge{
            font-size: 80px;
        }
    }

    &--advertise-why-us{
       text-align: center;
    }

    &--site-footer{
        color:#fff;
        font-size: 22px;
    }

    &--sidebar{
        text-transform: uppercase;
        font-size: 14px;
    }
}