.sidebar{
    padding: 30px;
    border: 1px solid #eee;
    

    @mixin atLarge{
        padding:8px;
    }

    @mixin atExLarge{
        margin-left: 4.4rem;
        width: 80%;
    }

    &__top{
        margin-bottom: 72px;
    }

}

