.site-footer{
    background-color:black;

    &__logo{
        font-family: $raleway;
        font-size: 25px;
        text-align:center;
        color:#fff;

        @mixin atExLarge{
            margin-bottom: 6rem;
        }
    }

    &__divider{

        @mixin atLarge{
            position: absolute;
            left: 9%;
            top: 33%;
            bottom:33%;
            border-left: 1px solid white;
        }

        @mixin atExLarge{
            position: absolute;
            left: 9%;
            top: 6%;
            bottom:33%;
            border-left: 1px solid white;
        }
    }

    &__info{
        font-family: $raleway;
        text-transform:uppercase;
        font-size: 13px;
        margin-left: 4.5rem;
        margin-top:-2rem;

        @mixin atSmall{
            text-align: center;
            margin-left:-1rem;
        }

        @mixin atMedium{
            margin-left:17.5rem;
        }

        @mixin atLarge{
            margin-bottom:-21px;
            margin-left:-20px;
        }

        @mixin atExLarge{
            margin-left: -2rem;
        }


        & li{
            margin-bottom:2rem;
        }

        & a{
            transition:250ms;
            color:#fff;
        }

        & a:hover{
            color:$pastelOrange;
        }
    }

    &__heading{
        font-family: $raleway;
        text-align:center;
        color:#fff;

    }

    &__heading--social{

        @mixin atLarge{
            margin-left:-8rem;
        }

        @mixin atExLarge{
            margin-left:-16rem;
        }
       
    }

    &__heading--newsletter{
        margin-bottom:-1.4rem;
    }

    &__social-links{

        @mixin atLarge{
            display: flex;
            margin-left:-6rem;
        }

        @mixin atExLarge{
            display: flex;
            margin-left:-6rem;
        }

        & a {
            @mixin atLarge{
                margin-left:2rem;
            }

            @mixin atExLarge{
                margin-left:3rem;
            }
        }
        
    }

    & input[type="email"]{
        font-family: $raleway;
        padding:6px 50px 6px 25px;
        border:2px solid black;
        border-radius: 4px;
        outline:none;
        width:100%;
        transition:250ms;

        @mixin atMedium{
            width:90%;
            margin-left:51px;
        }

        @mixin atLarge{
            font-size: 14px;
        }

        @mixin atExLarge{
           width:65%;
           margin-bottom:2rem;
        }

        &:focus{
            border:2px solid #DEA22B;
        }
    }


    & input[type="submit"]{
        font-family: $raleway;
        background-color: $pastelOrange;
        color:white;
        padding: .40rem 1.2rem;
        margin-top:22px;
        border: none;
        width:100%;
        transition:250ms;

        @mixin atMedium{
            width:90%;
            margin-left:51px;
        }

        @mixin atExLarge{
            width: 30%;
        }

        &:hover{
            background-color: #DEA22B;
        }
    }

    &__creator{
        font-family: $raleway;
        color:#fff;
        font-size: 10px; 
        text-transform:uppercase;
        margin-left: 7.5rem;

        @mixin atSmall{
            margin-left: 15rem;
        }

        @mixin atMedium{
            margin-left: 21rem;
        }

        
        @mixin atLarge{
            margin-left: 28rem;
        }

        @mixin atExLarge{
            margin-left: 44rem;
        }
    }

}