.site-footer{
    font-family: $quest;
    text-align: center;
    background-color:black;

    &__logo{
        @mixin atLarge{
            margin-top:6rem;
        }

        @mixin atExLarge{
            margin-left:5rem;
        }
    }

    & ul {
        padding: 0;
        text-transform:uppercase;
        font-size: 0.8125rem;
    }

    & li{
        margin-top:2rem;

    }

    & a{
        color:#fff;
        transition:250ms;
    }

    & a:hover{
        color: $pastelOrange;
    }

    &__info{
        margin-top:-7rem;


        @mixin atLarge{
            margin-top: 4rem;
            margin-right:3rem;
        }

        @mixin atExLarge{
            margin-top:-2rem;
            margin-right: 5rem;
        }
    }

    &__social{
        margin-top:-3rem;

        @mixin atLarge{
            margin-top:3rem;
            margin-left:-3rem;
        }

        @mixin atExLarge{
            margin-left:-4rem;
        }

        & h3 {
            @mixin atExLarge{
                margin-left:1.5rem;
            }
        }
    }

    &__social-links{

        @mixin atLarge{
            display: flex;

            & li {
                margin-top:1rem;
                margin-left: 1.5625rem;
            }
        }

        @mixin atExLarge{
            display: flex;
            justify-content: center;

            & li {
                margin-top:1rem;
                margin-left:2.1rem;
            }
        }
    }

    &__newsletter{
        margin-top: 3rem;

        @mixin atExLarge{
            margin-top: -1rem;
        }
    }

    & input[type="email"]{
        padding:4px;
        margin-bottom:21px;
        border:2px solid #ECECEC;
        border-radius: 4px;
        outline:none;
        width:100%;
        transition:250ms;

        @mixin atMedium{
            width: 50%;
        }

        @mixin atExLarge{
            width: 50%;
        }

        &:focus{
         border:2px solid $pastelOrange;
        }
    }

    & input[type="submit"]{
        background-color: $pastelOrange;
        padding: .40rem 1.2rem;
        border: none;
        transition:250ms;
        width: 100%;

        @mixin atMedium{
            width: 50%;
        }

        @mixin atExLarge{
            width: 30%;
        }


        &:hover{
            background-color: #F0A40E;
        }

    }

    &__divider{

        @mixin atLarge{
            position: absolute;
            left: 24%;
            top: 33%;
            bottom:13%;
            border-left: 1px solid white;
        }

        @mixin atExLarge{
            position: absolute;
            left: 50%;
            top: 16%;
            bottom:20%;
            border-left: 1px solid white;
        }
    }

}
